@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lekton:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #404a4c;
    color: white;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header__h1 {
    width: 100%;
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-family: 'Lekton', sans-serif;
}

.header__nav {
    list-style: none;
    margin-bottom: 20px;
}

.header__item {
    display: inline-block;
    padding: 15px;
}

.header__link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
}

.header__link:hover {
    border-bottom: 1px solid white;
}


.main {
    width: 75%;
    margin: 0 auto;
}

.main__h2 {
    letter-spacing: 1px;
}

.form {
    margin-top: 10px;
}

.form__legend {
    font-size: 16px;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-family: 'Lekton', sans-serif;
    margin-left: 10px;
}

.form__wrapper {
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.form__label {
    font-size: 18px;
    font-family: 'Lekton', sans-serif;
    padding: 5px;
    width: 50%;
}

.form__select,
.form__input {
    height: 30px;
    width: 50%;
    font-size: 14px;
    text-align-last: center;
    border-radius: 40px;
    border: 1px solid white;
    transition: all .3s ease-in;
}

.form__select:hover {
    box-shadow: 0px 0px 30px 6px rgba(255, 255, 255, 0.2)
}

.form__input:hover {
    box-shadow: 0px 0px 30px 6px rgba(255, 255, 255, 0.2)
}

.form__input:nth-last-of-type(1) {
    margin-bottom: 10px;
}

.form__input--submit {
    font-size: 18px;
    color: white;
    padding: 5px;
    width: 50%;
    background-color: teal;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

.form__option {
    text-align: center;
}

.form__textarea {
    font-size: 18px;
    padding: 10px;
    resize: none;
    width: 100%;
}

.description {
    margin: 0 auto;
    width: 75%;
    border: 1px solid white;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.description__wrapper {
    width: 100%;
    margin: 0 auto;
}

.descritpion__header {
    font-family: 'Lekton', sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 20px;
    margin-top: 20px;
}

.description__show {
    width: 50%;
    height: 200px;
    background-color: #eee;
    margin: 10px auto;
    border: 1px solid black;
}

.description__text {
    text-align: center;
    font-size: 26px;
    color: black;
    padding: 20px;
}

.description__link {
    padding: 0;
    cursor: unset;
}

.description__link:hover {
    border-bottom: none;
}

.description__btn {
    margin: 10px 5px 20px 5px;
    padding: 10px;
    cursor: pointer;
    width: 170px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: cadetblue;
    transition: opacity .3s ease-in;
}

.description__btn:hover {
    opacity: .8;
}

.description__btn--red {
    background-color: darkred;
}

.edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.edit__wrapper {
    margin: 0 auto;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 500px;

}

.edit__wrapper-description {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 500px;

}

.table {
    width: 100%;
}

.table,
.table__header,
.table__data {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
}

.table__header,
.table__data {
    padding: 15px;
    color: black;
}

.table__row:nth-child(even) {
    background-color: #eee;
}

.table__row:nth-child(odd) {
    background-color: #fff;
}

.table__data--green {
    background-color: cadetblue;
    cursor: pointer;
    transition: opacity .3s linear;
}

.table__data--green:hover {
    opacity: .8;
}

.table__header {
    background-color: black;
    color: white;
}

.table__link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 960px) {}