@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lekton:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #404a4c;
    color: white;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-family: 'Lekton', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    transition: all 1s ease-in-out;
}

a:hover {
    border-bottom: 1px solid white;
}



.nav_area {
    list-style: none;
    margin-bottom: 20px;
}

.nav_area li {
    display: inline-block;
    padding: 15px;

}

h2 {
    letter-spacing: 1px;
}

section {
    width: 75%;
    margin: 0 auto;
}

form {
    margin-top: 10px;
}

legend {
    font-size: 16px;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-family: 'Lekton', sans-serif;
    margin-left: 10px;
}

label {
    font-size: 18px;
    font-family: 'Lekton', sans-serif;
    padding: 5px;
    width: 50%;
}

.label_submit {
    font-size: 18px;
    color: white;
    padding: 5px;
    width: 50%;
    background-color: teal;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

input,
select {
    height: 30px;
    width: 50%;
    font-size: 14px;
    text-align-last: center;
    border-radius: 40px;
    border: 1px solid white;
    transition: all .3s ease-in;
}

input:hover {
    box-shadow: 0px 0px 30px 6px rgba(255, 255, 255, 0.2)
}

input:nth-last-of-type(1) {
    margin-bottom: 10px;
}

select:hover {
    box-shadow: 0px 0px 30px 6px rgba(255, 255, 255, 0.2)
}

option {
    text-align: center;
}

textarea {
    /* width: 100%; */
    resize: none;
    width: 100%;


}

button {
    display: block;
    background-color: whitesmoke;
    height: 40px;
    width: 120px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid whitesmoke;
    transition: all .3s ease-in-out;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btnLink {
    display: block;
    position: relative;
    margin-top: 10px;
    left: 80%;
    bottom: 0;
    height: 40px;
    width: 120px;
}

.btnLink:hover {
    border-bottom: none;
}

button:hover {
    box-shadow: 0px 0px 30px 6px rgba(255, 255, 255, 0.2);
    background-color: #404a4c;
    color: white;
    border: none;
}

.wrapper {
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 500px;

}

.wrapper_menu {
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
    width: 25vw;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
}

th,
td {
    padding: 15px;
    color: black;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
    background-color: #fff;
}

th {
    background-color: black;
    color: white;
}







@media only screen and (max-width: 1600px) {
    .wrapper {
        width: 40%;
    }
}

@media only screen and (max-width: 1280px) {
    .wrapper {
        width: 50%;
    }
}

@media only screen and (max-width: 960px) {
    .wrapper {
        width: 60%;
    }
}